@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.add-modal-window.active {
  transform: scale(1);
  transform: translateY(0);
}

.login-modal-window.active {
  transform: scale(1);
  transform: translateY(0);
}

.edit-modal-window.active {
  transform: translateY(0);
  display: flex;
  transform: scale(1);
}

.delete-modal-window.active {
  transform: scale(1);
  transform: translateY(0);
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */

  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 5;
}

.hidden {
  display: none;
}

edit-form.active {
  display: flex;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.jelly {
  --uib-size: 150px;
  --uib-speed: 0.9s;
  --uib-color: black;

  position: relative;
  height: calc(var(--uib-size) / 2);
  width: var(--uib-size);
  filter: url("#uib-jelly-ooze");
  animation: rotate calc(var(--uib-speed) * 2) linear infinite;
}

.jelly::before,
.jelly::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 25%;
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 100%;
}

.jelly::before {
  animation: shift-left var(--uib-speed) ease infinite;
}

.jelly::after {
  animation: shift-right var(--uib-speed) ease infinite;
}

.jelly-maker {
  width: 0;
  height: 0;
  position: absolute;
}

@keyframes rotate {
  0%,
  49.999%,
  100% {
    transform: none;
  }

  50%,
  99.999% {
    transform: rotate(90deg);
  }
}

@keyframes shift-left {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: scale(0.65) translateX(-75%);
  }
}

@keyframes shift-right {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: scale(0.65) translateX(75%);
  }
}
